<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [ %thread{10} ] %logger{20}.%M:%L : %msg%n</pattern> -->
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) - [ %thread{10} ] %cyan(%file).%red(%M:%L) : %msg%n</pattern>
			<!-- <pattern>|%-5p| %d{HH:mm:ss.SSS} : (%t)[%C{1}.%M:%L] - %m%n</pattern> -->
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="com.darka.baram" level="DEBUG"/>
</configuration>